/_brms_SBC_cache/res_*.rds
/_brms_SBC_cache/dat_*.rds
/_brms_sens_cache/*.rds
/_brms_models/*_bf.rds
/_brms_models/*_full.rds
/_brms_models/*_noDiff.rds
/_brms_models/m_pal.rds
/_brms_models/m_pal_rtuse.rds 
/EMBA_HGF/tapas*
/EMBA_HGF/RainCloud*
/EMBA_HGF/VBA*
/compare*
/prepro/__pycache__
